/Scripts
/Include
/Lib
/__pycache__
/myenv
/__pycache__
__pycache__/main.cpython-310.pyc
/__pycache__
/__pycache__
Lib/site-packages/cryptography/hazmat/primitives/asymmetric/__pycache__/ed25519.cpython-310.pyc
__pycache__/main.cpython-310.pyc
/__pycache__
word_detector/__pycache__/__init__.cpython-310.pyc
/Lib
