@import "base_colors";

$pale-yellow: #ffe555;
$very-dark-gray: #18191a !default;


$primary: $pale-yellow !default;

$body-color:                $gray-100 !default;
$body-bg:                   $black !default;
$body-secondary-bg:         $gray-700 !default;
$body-tertiary-bg:          $very-dark-gray !default;



$dark-text-emphasis: $pale-yellow !default;

$navbar-dark-color:                 rgba($pale-yellow, .65) !default;
$navbar-dark-hover-color:           rgba($pale-yellow, .95) !default;
$navbar-dark-active-color:          $pale-yellow !default;

$input-bg:                              $white !default;
$input-disabled-color:                  null !default;
$input-disabled-bg:                     $gray-300 !default;
$input-disabled-border-color:           null !default;

$input-color:                           $gray-800 !default;
$input-border-color:                    $gray-800 !default;
$input-placeholder-color:               $gray-600 !default;