@import "base_colors";

$pale-yellow: #ffef60 !default;

$primary: $pale-yellow !default;

$body-color:                $gray-100 !default;
$body-bg:                   $gray-900 !default;
$body-secondary-bg:         $gray-700 !default;
$body-tertiary-bg:          $gray-800 !default;