@import "base_colors";

$pale-yellow: #ffef60;

$primary: $pale-yellow !default;

$body-color:                $gray-100 !default;
$body-bg:                   $gray-900 !default;
$body-secondary-bg:         $gray-700 !default;
$body-tertiary-bg:          $gray-800 !default;

$dark-text-emphasis: $pale-yellow !default;

$navbar-dark-color:                 rgba($pale-yellow, .55) !default;
$navbar-dark-hover-color:           rgba($pale-yellow, .75) !default;
$navbar-dark-active-color:          $pale-yellow !default;

//$nav-link-color:            $yellow-700 !default;
//$nav-link-hover-color:      $yellow-300 !default;