{% with page_title="About" %}
{% include "header.html" %}
{% endwith %}

{% with page_name="about" %}
{% include "navbar.html" %}
{% endwith %}

<div class="container-fluid p-4">
	<div class="row m-2 p-2 rounded bg-body-tertiary">
		<div class="col-sm-6">
			<img src="static/images/ceo-pipewala.png" alt="Illustration" style="width: 100%">
		</div>
		<div class="col-sm-6 p-4 bg-body-secondary rounded-4">
			<div class="lead fs-2 p-4 text-primary strong">
				Where Your Handwritten Ideas Come to Life Digitally....
			</div>
			<h3>About Us</h3>
			<p>Welcome to Inksight, where innovation meets simplicity. We are a dedicated team of tech 	enthusiasts,
				developers, and visionaries committed to bridging the gap between traditional handwriting and the
				digital world. Our mission is to make the transition from handwritten notes to digital text effortless
				and efficient, ensuring that your valuable information is always at your fingertips.</p>
			<br>
			<br>
			<h4>Our Vision</h4>
			In an increasingly digital age, we believe that the essence and convenience of handwritten notes should not
			be lost. Our vision is to empower individuals and businesses by providing a seamless and accurate way to
			convert handwritten text into editable, searchable, and shareable digital formats.
		</div>
	</div>
	<div class="row m-2 p-2 rounded bg-body-tertiary">
		<div class="col-sm-6 p-4 bg-body-secondary rounded-4">
			<h4>Our Team</h4>
			Our team is comprised of experienced software developers, AI specialists, and user experience designers who
			are passionate about creating intuitive and reliable tools. We work tirelessly to enhance our handwriting
			recognition technology, ensuring it meets the highest standards of accuracy and usability.

			<h4>What We Offer</h4>
			At Inksight, we offer a state-of-the-art web application that utilizes advanced machine learning algorithms
			to recognize and convert handwritten text into digital text. Whether you are a student, a professional, or
			someone who loves taking handwritten notes, our platform is designed to cater to your needs.
		</div>
		<div class="col-sm-6">
			<img src="static/images/ceo-pipewala.png" alt="Illustration" style="width: 100%">
		</div>
	</div>
</div>

{% include "footer.html" %}