{% with page_title="About" %}
{% include "header.html" %}
{% endwith %}

{% with page_name="about" %}
{% include "navbar.html" %}
{% endwith %}

<div class="container-fluid p-1">
	<div class="row m-2 p-2 rounded bg-body-tertiary">
		<div class="col-sm-6">
			<img src="static/images/ceo-pipewala.png" alt="Illustration" style="width: 100%">
		</div>
		<div class="col-sm-6 p-4 bg-body-secondary rounded-4">
			<div class="lead text-primary mb-2">
				Welcome to Inksight, where your handwritten ideas come to life digitally.
			</div>
			<h4>About Us</h4>
			 <p>We are a dedicated team of tech enthusiasts,
				developers, and visionaries committed to bridging the gap between traditional handwriting and the
				digital world.</p>
			 <div class="lead">Our mission is to make the transition from handwritten notes to digital text effortless
				and efficient, ensuring that your valuable information is always at your fingertips in digital form.</div>
			<br>
			<br>
			<h4 class="text-primary">Our Vision</h4>
			In an increasingly digital age, we believe that the essence and convenience of handwritten notes should not
			be lost. 
			<div class="text-primary">Our vision is to empower individuals and businesses by providing a seamless and accurate way to
			convert handwritten text into editable, searchable, and shareable digital formats.
			</div>
		</div>
	</div>
	<div class="row m-2 p-2 rounded bg-body-tertiary">
		<div class="col-sm-6 p-4 bg-body-secondary rounded-4">
			<h4 class="text-primary">Our Team</h4>
			<div class="text-primary">Our team is comprised of experienced software developers, AI specialists, and user experience designers who
			are passionate about creating intuitive and reliable tools. We work tirelessly to enhance our handwriting
			recognition technology, ensuring it meets the highest standards of accuracy and usability.</div>

			<h4 class="text-primary">What We Offer</h4>
			<div class="text-primary">At Inksight, we offer a state-of-the-art web application that utilizes advanced machine learning algorithms
			to recognize and convert handwritten text into digital text.</div> Whether you are a student, a professional, or
			someone who loves taking handwritten notes, our platform is designed to cater to your needs.
		</div>
		<div class="col-sm-6">
			<img src="static/images/text-on-desk.jpg" alt="Illustration" style="width: 100%">
		</div>
	</div>
</div>

{% include "footer.html" %}