{% with page_title="About" %}
{% include "header.html" %}
{% endwith %}

{% with page_name="about" %}
{% include "navbar.html" %}
{% endwith %}

<div class="container-fluid p-1">
	<div class="row m-2 p-2 rounded bg-body-tertiary">
		<div class="col-sm-6">
			<img src="static/images/text-on-desk.jpg" alt="Illustration" style="width: 100%" class="rounded-4">
		</div>
		<div class="col-sm-6 p-4 bg-body-secondary rounded-4">
			<div class="fs-3 lead text-primary mb-3">
				Welcome to Inksight, where your handwritten ideas come to life digitally.
			</div>
			<h4 class="display-5">About Us</h4>
			 <p>We are a dedicated team of tech enthusiasts,
				developers, and visionaries committed to bridging the gap between traditional handwriting and the
				digital world.</p>
			 <div class="lead text-primary">Our mission is to make the transition from handwritten notes to digital text effortless
				and efficient, ensuring that your valuable information is always at your fingertips in digital form.</div>
			<br>
			<br>
			<h4 class="display-5">Our Vision</h4>
			<p>In an increasingly digital age, we believe that the essence and convenience of handwritten notes should not
			be lost. </p>
			<p>Our vision is to empower individuals and businesses by providing a seamless and accurate way to
			convert handwritten text into editable, searchable, and shareable digital formats.</p>
		</div>
	</div>
	<div class="row m-2 p-2 rounded bg-body-tertiary">
		<div class="col-sm-6 p-4 bg-body-secondary rounded-4">
			<h4 class="display-5">Our Team</h4>
			<p class="strong text-primary">Our team is comprised of experienced software developers, AI specialists, and user experience designers who
			are passionate about creating intuitive and reliable tools.</p>
			<p>We work tirelessly to enhance our handwriting
			recognition technology, ensuring it meets the highest standards of accuracy and usability.</p>

			<h4 class="display-5">What We Offer</h4>
			<p class="strong text-primary">At Inksight, we offer a state-of-the-art web application that utilizes advanced machine learning algorithms
			to recognize and convert handwritten text into digital text.</p> 
			<p class="lead fs-4">With Inksight, you can convert your handwritten notes and documents to digital form in just a few seconds.</p>
		</div>
		<div class="col-sm-6">
			<img src="static/images/writing-on-desk.jpg" alt="Illustration" style="width: 100%" class="rounded-4">
		</div>
	</div>
</div>

{% include "footer.html" %}