{% with page_title="Login" %}
{% include "header.html" %}
{% endwith %}

{% with page_name="login" %}
{% include "navbar.html" %}
{% endwith %}

<div class="container-fluid p-1">
	<div class="row m-2 p-2 rounded bg-body-tertiary">
		<div class="col-sm-6">
			<img src="static/images/candle_4_5_golden.jpg" alt="Illustration" style="width: 100%" class="rounded-4">
		</div>
		<div class="col-sm-6 p-4 bg-body-secondary rounded-4">
		<form class="d-grid gap-2 col-sm-8 mx-auto">
			<h4 class="display-4 text-center text-primary"><strong>Login</strong></h4>
			<div class="lead text-center">
				Don't have an account? <a href="/signup">Sign up!</a>
			</div>
			<hr>
			<label for="username">Username:</label>
			<input type="text" id="username" name="username" value=""><br>
			<label for="password">Password:</label>
			<input type="password" id="password" name="password" value=""><br>
			<hr>
			<input type="submit" class="btn btn-primary" value="Login">
			<a href="/something" class="text-center">Forgot password?</a>
		</form>
		</div>
	</div>
</div>

{% include "footer.html" %}
