{% with page_title="Inksight" %}
  {% include "header.html" %}
{% endwith %}

{% with page_name="plans" %}
  {% include "navbar.html" %}
{% endwith %}

<div class="container text-center my-5">
  <div class="text-center">
    <h1 class="my-5">Plans and Pricing</h1>
  </div>

  <div class="row justify-content-center ">

    <div class="col-md-4">
      <div class="rounded bg-body-secondary text-white text-center" >
        <h2 class=" text-primary" style="font-size: 2.5rem; ">Free Plan</h2>
        <ul class="plan-features" style="list-style: none;
          padding-left: 0;
          font-size: 1.2rem;">
          <li>Get 50 pages of handwriting converted into text per day.</li>
          <li>15 days validity</li>
          <li>Email support.</li>
          <li>Standard accuracy.</li>
          <li>Support for JPG, PNG files.</li>
          <li>Standard processing time.</li>
        </ul><br><br>
        <button type="button" class="btn btn-dark btn-buy" >Subscribe</button>
        <br>
      </div>
    </div>

    <div class="col-md-4 rounded">
      <div class="rounded bg-body-secondary text-white text-center" >
        <h2 class="text-primary" style="font-size: 2.5rem;">Standard Plan</h2>
        <div class="text-primary" style="font-size: 2rem;">$8.00</div>
        <ul class="plan-features" style="list-style: none;
          padding-left: 0;
          font-size: 1.2rem;">
          <li>Get 200 pages of handwriting converted into text per day.</li>
          <li>30 days validity.</li>
          <li>Priority email support.</li>
          <li>High accuracy with machine learning improvements.</li>
          <li>Support for JPG, PNG, PDF, TIFF, and BMP files.</li>
        </ul>
        <button type="button"  class="btn btn-dark btn-buy">Subscribe</button>
      </div>
    </div>


    <div class="col-md-4 rounded">
      <div class="rounded bg-body-secondary text-white text-center">
        <h2 class="text-primary" style="font-size: 2.5rem;">Premium Plan</h2>
        <div class="text-primary" style="font-size: 2rem;">$12.00</div>
        <ul class="plan-features" style="list-style: none;
          padding-left: 0;
          font-size: 1.2rem;">
          <li>Get unlimited pages of handwriting converted into text per day.</li>
          <li>30 days validity.</li>
          <li>24/7 priority email and chat support.</li>
          <li>Highest accuracy with advanced machine learning algorithms.</li>
          <li>Export recognized text to DOCX, TXT, and CSV formats.</li>
        </ul>
        <button type="button" class="btn btn-dark btn-buy" >Subscribe</button>
      </div>
    </div>

  </div>
</div>

{% include "footer.html" %}
